# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\RepoGitKraken\projet_contact_java2\Projet_Gestion_Contacts\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
